<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/admin :: head(title='管理文章')">
</head>
<body>
<div class="content">
    <div th:include="layouts/admin :: header"></div>
    <div class="row">
        <div class="col-xs-3" th:include="layouts/admin :: row-left"></div>
        <div class="col-xs-9">
            <div class="table-list">
                <h4>管理文章</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>分类</th>
                        <th>日期</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article:${articles}">
                        <td class="col-xs-1" th:text="${article.id}+'.'"></td>
                        <td class="col-xs-5">
                            <a th:href="@{'/admin/articles/'+${article.id}}" th:text="${article.title}"></a>
                        </td>
                        <td class="col-xs-3">
                            <span>默认分类</span>
                        </td>
                        <td class="col-xs-2">
                            <span th:text="${#dates.format(article.createdAt,'M月d日')}"></span>
                        </td>
                        <td class="col-xs-1">
                            <a th:onclick="'deleteArticle('+${article.id}+')'">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pager">
                        <li class="previous" th:if="${pageNum>1}"><a
                                th:href="@{'/admin/articles?page='+${pageNum-1}}">&larr; 上一页</a></li>
                        <li class="next" th:if="${pageNum<allPageNum}"><a
                                th:href="@{'/admin/articles?page='+${pageNum+1}}">下一页 &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer" th:include="layouts/admin :: footer"></div>
</div>
<script th:src="@{/resources/js/index.js}"></script>
</body>
</html>