<!DOCTYPE html>
<html>
<head>
    {{>layouts/admin/head}}
</head>
<body>
<div class="content">
    {{>layouts/admin/header}}
    <div class="row">
        {{>layouts/admin/left}}
        <div class="col-xs-9">
            <div class="table-list">
                <h4>网站概要</h4>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>已发布文章数量</td>
                            <td>{{articleNum}}</td>
                        </tr>
                        <tr>
                            <td>得到的评论数量</td>
                            <td>{{commentNum}}</td>
                        </tr>
                        <tr>
                            <td>待审核评论数量</td>
                            <td>{{waitingNum}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{>layouts/admin/footer}}
</div>
</body>
</html>