<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/admin :: head(title='个人设置')">
</head>
<body>
<div class="content">
    <div th:include="layouts/admin :: header"></div>
    <div class="row">
        <div class="col-xs-3" th:include="layouts/admin :: row-left"></div>
        <div class="col-xs-9">
            <div class="table-list">
                <h4>独立页面</h4>
                <table class="table table-hover">
                    <thead>
                    </thead>
                    <tbody>
                    <tr th:each="page:${pages}">
                        <td>
                            <span th:text="${page.title}"></span>
                        </td>
                        <td>
                            <a th:href="@{'/admin/pages/'+${page.slug}}">编辑</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form role="form" method="post" id="setting-profile">
                <div class="form-group">
                    <label for="setting-username"><h4>用户名</h4></label>
                    <input type="text" name="username" class="form-control" id="setting-username" placeholder="用户名" th:value="${username}" required>
                </div>
                <div class="form-group">
                    <label for="setting-password"><h4>密码</h4></label>
                    <input type="password" name="password" class="form-control" id="setting-password" placeholder="留空则不修改">
                </div>
                <input type="button" class="btn btn-default" th:onclick="'updateProfile()'" value="保存设置">
            </form>
        </div>
    </div>
    <div class="footer" th:include="layouts/admin :: footer"></div>
</div>
<script th:src="@{/resources/js/index.js}"></script>
</body>
</html>