<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/resources/favicon.ico}">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
    <meta name="robots" content="noindex, nofollow">
    <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.js"></script>
</head>
<body>
<div class="header" th:fragment="header(username)">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/admin}">管理后台</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/}" target="_blank">网站</a></li>
                <li><a th:href="@{/logout}">登出</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-3" th:fragment="row-left">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a th:href="@{/admin}">网站概要</a></li>
                <li role="presentation"><a th:href="@{/admin/articles}">文章管理</a></li>
                <li role="presentation"><a th:href="@{/admin/comments}">评论管理</a></li>
                <li role="presentation"><a th:href="@{/admin/comments/approve}">审核评论</a></li>
                <li role="presentation"><a th:href="@{/admin/articles/write}">撰写文章</a></li>
                <li role="presentation"><a href="#">个人资料</a></li>
            </ul>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>
<div class="footer" th:fragment="footer">
    <footer>
        <span>© 2016</span>&nbsp;<a title="Lolipa" href="https://github.com/volio/Lolipa" target="_blank">Lolipa</a>
    </footer>
</div>
</body>
</html>
