<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/admin :: head(title='撰写新文章')">
</head>
<body>
<div class="header" th:include="layouts/admin :: header(username=${username})"></div>
<div class="content">
    <div class="row">
        <div class="col-md-3" th:include="layouts/admin :: row-left"></div>
        <div class="col-md-8">
            <form role="form" th:if="${post}==null" th:action="@{/admin/article/write}" method="post">
                <div class="form-group">
                    <label for="post-title"><h4>文章标题</h4></label>
                    <input type="text" name="title" class="form-control" id="post-title" placeholder="Enter title" required>
                </div>
                <div class="form-group">
                    <label for="post-url">Slug URL</label>
                    <input type="text" name="slug" class="input-sm form-control" id="post-url" placeholder="hello-world" required>
                </div>
                <div class="form-group">
                    <label for="post-content"><h4>文章内容</h4></label>
                    <textarea name="content" id="post-content" class="form-control" rows="16" placeholder="Enter content" required></textarea>
                </div>
                <button type="submit" class="btn btn-default">发布文章</button>
            </form>
            <form role="form" th:if="${post}!=null" th:action="@{/admin/article/edit}" method="post">
                <input type="hidden" name="id" th:value="${post.id}">
                <div class="form-group">
                    <label for="post-title"><h4>文章标题</h4></label>
                    <input type="text" name="title" class="form-control" id="post-title" placeholder="Enter title" th:value="${post.title}">
                </div>
                <div class="form-group">
                    <label for="post-url">Slug URL</label>
                    <input type="text" name="slug" class="input-sm form-control" id="post-url" placeholder="hello-world" th:value="${post.slug}">
                </div>
                <div class="form-group">
                    <label for="post-content"><h4>文章内容</h4></label>
                    <textarea id="post-content" name="content" class="form-control" rows="16" placeholder="Enter content" th:text="${post.content}"></textarea>
                </div>
                <button type="submit" class="btn btn-default">发布文章</button>
            </form>
        </div>
    </div>
</div>
<div class="footer" th:include="layouts/admin :: footer"></div>
</body>
</html>