<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/home :: head(title=${post.title})">
</head>
<body class="custom-background">
<div class="main">
    <div class="header" th:include="layouts/home :: nav-header"></div>
    <div class="secHeader" th:include="layouts/home :: nav-secheader"></div>

    <div class="content">
        <div class="float-nav">
            <ul class="ex-menu">
                <li>
                    <a onclick="goToTop();">回到顶部</a>
                    <i class="fa fa-arrow-up"></i>
                </li>
            </ul>
            <a class="top" title="发表评论">
                <i class="fa fa-comments"></i>
            </a>
        </div>
        <div class="wrapp">
            <div class="page">
                <div class="top">
                    <div class="title">
                        <a class="p-title" rel="bookmark">
                            <i class="fa fa-file-text-o"></i><span th:text="${post.title}"></span></a>
                    </div>
                    <div class="info">
                        <div class="white">
                            <span class="date" th:text="${#dates.format(post.createdAt,'yyyy/MM/dd')}"></span>
                            <span class="dot"> - </span>
                            <span class="dot"> - </span>
                            <span class="comment">暂无评论</span>
                        </div>
                    </div>
                </div>
                <div class="entry" th:utext="${post.content}"></div>
            </div>
            <div class="comments-wrapp">
                <div class="topbar">
                    <div class="wrapp">
                        <div class="left">
                            <li class="num"><a>评论 (0条)</a></li>
                        </div>
                    </div>
                </div>
                <ol class="comment-main">
                    <div class="none">暂无评论，快来抢沙发吧！</div>
                </ol>
            </div>
        </div>
    </div>

    <div class="footer" th:include="layouts/home :: footer"></div>
</div>
</body>
</html>