<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/admin :: head(title='管理评论')">
</head>
<body>
<div class="header" th:include="layouts/admin :: header(username=${username})"></div>
<div class="content">
    <div class="row">
        <div class="col-md-3" th:include="layouts/admin :: row-left"></div>
        <div class="col-md-8">
            <div class="table-list">
                <h4>管理评论</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>作者</th>
                        <th></th>
                        <th>内容</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment:${comments}">
                        <td class="col-xs-1"><img class="avatar" th:src="${avatarMap.get(comment.coid)}" width="32"
                                                  height="32"></td>
                        <td class="col-xs-3">
                            <div class="comment-meta">
                                <strong th:text="${comment.author}"></strong><br>
                                <span><a th:href="'mailto:'+${comment.mail}"
                                         target="_blank" th:text="${comment.mail}"></a></span><br>
                                <span th:text="${comment.ip}"></span>
                            </div>
                        </td>
                        <td class="col-xs-7">
                            <div class="comment-body">
                                <div class="comment-date">
                                    <span th:text="${#dates.format(comment.createdAt,'M月d日')}"></span>
                                </div>
                                <div class="comment-content">
                                    <p th:text="${comment.text}"></p>
                                </div>
                            </div>
                        </td>
                        <td class="col-xs-1">
                            <div class="comment-action">
                                <a th:onclick="'approveComment('+${comment.coid}+')'">通过</a><br>
                                <a>待审核</a><br>
                                <a th:onclick="'deleteComment('+${comment.coid}+')'">删除</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pager">
                        <li class="previous" th:if="${pageNum>1}"><a
                                th:href="@{'/admin/comments?page='+${pageNum-1}}">&larr; 上一页</a></li>
                        <li class="next" th:if="${pageNum<allPageNum}"><a
                                th:href="@{'/admin/comments?page='+${pageNum+1}}">下一页 &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:include="layouts/admin :: footer"></div>
<script th:src="@{/resources/js/index.js}"></script>
</body>
</html>