<div class="col-xs-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/admin">网站概要</a></li>
        <li role="presentation"><a href="/admin/articles">文章管理</a></li>
        <li role="presentation"><a href="/admin/comments">评论管理</a></li>
        <li role="presentation"><a href="/admin/comments/approve">审核评论</a></li>
        <li role="presentation"><a href="/admin/articles/write">撰写文章</a></li>
        <li role="presentation"><a href="/admin/settings">个人设置</a></li>
    </ul>
</div>