<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="/static/favicon.ico">
  <title>Volio&#39;s Blog</title>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/finally.js"></script>
  <!--[if lt IE 10]>
  <script type="text/javascript" src="/static/js/placeholder.js"></script>
  <script type="text/javascript">
    $(function () {
      $('input, textarea').placeholder();
    });
  </script>
  <![endif]-->
</head>
<body class="custom-background">
<div class="main">
  <div class="header">
    <div class="title">
      <a href="/#!/home">Volio&#39;s Blog</a>
    </div>
    <div class="navigation">
      <div class="left">
        <ul class="menu">
          <li><a href="/#!/home"><i class="fa fa-home"></i>首页</a></li>
          <li><a href="/#!/links"><i class="fa fa-link"></i>友情链接</a></li>
          <li><a href="/#!/about"><i class="fa fa-link"></i>关于</a></li>
        </ul>
      </div>
      <div class="mobile">
        <ul>
          <li>
            <a class="mobile-menu-toggle" title="菜单"><i class="fa fa-th-list"></i></a>
            <select class="mobile-menu-drop" id="m-menu" onchange="location.href=this.value">
              <option value="/#!/home">Volio's Blog</option>
              <option value="/#!/links">友情链接</option>
              <option value="/#!/about">关于</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="default">
        <ul>
          <li class="line"><span></span></li>
          <li class="search"><a title="搜索"><i class="fa fa-search"></i></a></li>
          <li class="rss"><a title="订阅本站" target="_blank"><i
            class="fa fa-rss"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="search-form">
      <span class="dot"></span>
      <input class="box" id="s" type="text" v-model="keyword" placeholder="搜索..." v-on:keyup.enter="search">
    </div>
  </div>
  <div class="secHeader"><i class="fa fa-bullhorn"></i>Oooooooooops.</div>
  <router-view></router-view>
  <div class="footer">
    <p><span class="date">&copy; 2016</span><a class="title" href="https://github.com/volio/Lolipa">Lolipa</a></p>
    <p>Theme By <a href="http://tsin.us">千岁君</a></p>
  </div>
</div>
</body>
</html>
